@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Outfit', sans-serif; */
    font-family: 'Arimo', sans-serif;
    background-color: #0a192f;
    color: #ccd6f6;
    scroll-behavior: smooth;
}